@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: Yantramanav, sans-serif;
}

h3 {
  font-weight: 300;
}

a.button {
  display: inline-block;
  padding: 0.35em 1em;
  margin: 0 1rem;
  border: 0.1em solid #ffffff;
  cursor: pointer;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.button:hover {
  color: #000000;
  background-color: #ffffff;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1em;
  margin: 0 1rem;
  border: 0.1em solid #c1f8a7;
  cursor: pointer;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #c1f8a7;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: #000000;
  background-color: #c1f8a7;
}

a.button2 {
  display: inline-block;
  padding: 0.35em 1em;
  margin: 0 1rem;
  border: 0.1em solid #f7a5a5;
  cursor: pointer;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #f7a5a5;
  text-align: center;
  transition: all 0.2s;
}

a.button2:hover {
  color: #000000;
  background-color: #f7a5a5;
}
